# Heimdall service
apiVersion: v1
kind: Service
metadata:
  name: heimdall
  namespace: media
  labels:
    app.kubernetes.io/name: heimdall
    app.kubernetes.io/component: dashboard
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: heimdall
